@font-face {
    font-family: "Norse-Bold";
    src: url("fonts/Norse-Bold.otf") format("opentype");
}

* {
    margin:0;
    padding:0;
}

body {
    font-family: "Helvetica", "Arial", sans-serif;
    display:flex;
    height:100vh;
}

.left-panel {
    display:flex;
    flex-direction:column;
    background-image:url("images/background.jpg");
    background-size:cover;
    min-width:max(30%,200px);
    justify-content:center;
    align-items:center;
}

.odinheader {
    display:flex;
    justify-content:center;
    position:absolute;
    margin-bottom:max(100px, 10%);
    background-color:rgba(0, 0, 0, .4);
    padding:5px;
    gap:4px;
}


.odinheader .odin{
    display:flex;
    align-items:center;
    font-family: "Norse-Bold";
    font-size:4rem;
    color:white;
}

.odinheader img {
    width:max(75px,20%);
}

.left-panel footer {
    text-align:center;
    margin-top:auto;
    padding-bottom:4px;
    color:white;
    font-size:.5rem;
}

.left-panel footer a {
    text-decoration:none;
    color:white;
}

.right-panel {
    display:flex;
    flex-direction:column;
    justify-content:center;
    gap:16px;
}

.right-header p {
    margin-bottom:16px;
    padding:0 32px;
}

.right-header p, form .form-header {
    font-weight:600;
}

form {
    display:flex;
    flex-direction:column;
    gap:32px;
}

fieldset {
    display:flex;
    flex-direction:column;
    padding: 16px 32px;
    gap:16px;
    box-shadow: 5px 5px 10px #82818f;
    border:.1px;
}

.form-body {
    display:flex;
    flex-wrap:wrap;
    justify-content:space-between;
    max-width:min(450px, 80%);
}

.input {
    display:flex;
    flex-direction:column;
}

label {
    font-size:.7rem;
    color:rgb(91, 91, 91);
    font-weight:450;
    font-family:system-ui;
}

input {
    border:.1px solid #757678;
    border-radius:2.5px;
    margin-bottom:8px;
    min-width: max(150px, 80%);
}

input:focus {
    outline: none;
    border-color: #665df5;
    box-shadow: 0 0 2px #665df5;
}

button {
    max-width: max(10%, 200px);
    padding: 8px 0;
    margin-left:32px;
    background-color: midnightblue;
    border-radius:5px;
    color:white;
    border:none;
}

.login {
    margin-left:32px;
    font-size:.75rem;
}

.login a {
    text-decoration:none;
    color:midnightblue;
}